/* @todo: Translate to LESS */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: monospace;
}
#page {
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}
#menu {
  background: #020024;
  background: linear-gradient(0deg, #020024 0%, #ffffff 0%, #ffcb86 100%);
  text-align: center;
  height: 50px;
  padding-top: 10px;
}
#menu a {
  color: #ff8585;
  background-color: whitesmoke;
  border: gray 1px solid;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
#menu a:hover {
  background-color: white;
}
a {
  color: red;
  background-color: white;
  border: gray 1px solid;
  padding: 2px;
  border-radius: 5px;
  text-decoration: none;
}
a:hover {
  background-color: lightyellow;
}
/* ---------------------------------------------------------------- */
.style-align-center {
  text-align: center;
}
.style-align-right {
  text-align: right;
}
.style-message {
  border: gray 1px solid;
  background-color: #f5f3f3;
}
