html {
  height: 100%;
}
body {
  margin: 0;
  font-family: monospace;
  background-color: white;
  height: 100%;
  padding: 10px;
}
body a.butn {
  border: red 1px solid;
  padding: 2px;
  background-color: #ffebeb;
  border-radius: 5px;
  text-decoration: none;
  color: red;
}
body a.butn:hover {
  background-color: #ffffeb;
}
body #menu {
  text-align: center;
  padding: 10px;
  background-color: lightyellow;
}
body #page {
  height: 100%;
}
body table {
  width: 100%;
}
body table th {
  padding: 3px;
  text-align: left;
  border-bottom: gray 1px solid;
}
body table td {
  padding: 3px;
  text-align: left;
  border-bottom: gray 1px dashed;
  vertical-align: top;
}
body table input,
body table textarea,
body table select {
  border: silver 1px solid;
  width: 90%;
  background-color: lightyellow;
}
body table textarea {
  height: 300px;
}
