body {
  font-family: monospace;
}
body a {
  text-decoration: none;
  color: red;
}
body #head {
  padding: 5px;
  text-align: center;
}
body a.butn {
  border: red 1px solid;
  padding: 2px;
  background-color: #ffebeb;
  border-radius: 5px;
}
body a.butn:hover {
  background-color: #ffffeb;
}
